CommandMessagePattern/com/eip/mc/com/eip/mc/TemperatureConvertor.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mc.eip.com" xmlns:conv="http://mc.eip.com" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
    <xsd:complexType name="ConvertCToFType">
    	<xsd:sequence>
    		<xsd:element maxOccurs="1" minOccurs="1" name="TemperatureInC" type="xsd:double"/>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:element ibmSchExtn:docRoot="true" name="ConvertCToF" type="conv:ConvertCToFType"/>

    <xsd:complexType name="ConvertCToFResponseType">
    	<xsd:sequence>
    		<xsd:element name="TemperatureInF" type="xsd:double"/>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element ibmSchExtn:docRoot="true" name="ConvertCToFResponse" type="conv:ConvertCToFResponseType"/>
</xsd:schema>